main {
  padding: 1rem;
  height: calc(100% - 57px);
  width: 100%;
  background-color: var(--gray100);
  overflow-y: auto;

  .header-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 1.62rem;

    &__info {
      &__title {
        color: var(--black);
        font-size: 2.5rem;
        font-weight: 700;
        line-height: normal;
      }
      &__subtitle {
        color: var(--black);
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }

  .options {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
  }

  .page-cnt {
    height: calc(100% - 40px);
  }

  .link-password {
    color: var(--link-action);
    font-style: italic;
    font-weight: 400;
    cursor: pointer;
  }
}
