:host {
    width: 100%;
    height: 57px;
  }
  
  .nav {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    &__menu {
      cursor: pointer;
      color: var(--primary-color);
    }
  
    &__items {
      color: var(--primary-color);
      display: flex;
      gap: 1rem;
      &__item {
        cursor: pointer;
        align-self: center;
      }
    }
  }
  