:root {
  --primary-color: #273b5b;
  --text-color-primary: #ffffff;
  --gray100: #eeeeee;
  --gray200: #e8e8e8;
  --gray300: #959cad;
  --white: #ffffff;
  --black: #000000;
  --icon-color: #ffffff;
  --border-radious: 3.125rem;
  --input-bg: #deebff;
  --availability-brd-table: #b9b9b9;
  --link-color: #0349fc;
  --link-action: #00a3ff;
  --icon-inside: #000000;
}
