mat-dialog-content {
  max-height: 100vh;
}

.form {
  gap: 1rem;
  .fields-group .field {
    .control .pwd-input {
      background: var(--white);
      border-color: #3d7684;
    }
    .label {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;
      color: var(--black);
    }
  }
  .buttons .is-primary-button {
    border-radius: 0.5625rem;
    font-size: 1.125rem;
  }
}
