<mat-dialog-content>
  <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="fields-group">
      <div class="field">
        <label class="label">Contraseña Actual</label>
        <div class="control">
          <input
            type="password"
            formControlName="currentPassword"
            class="pwd-input"
            placeholder="Ingresar"
          />
        </div>
        <ng-container
          *ngIf="
            actualPassword?.invalid &&
            (actualPassword?.dirty || actualPassword?.touched)
          "
        >
          <p
            class="help is-danger"
            *ngIf="this.actualPassword?.errors?.['required']"
          >
            Contraseña Inválida
          </p>
        </ng-container>
      </div>
    </div>
    <div class="fields-group">
      <div class="field">
        <label class="label">Nueva Contraseña</label>
        <div class="control">
          <input
            type="password"
            formControlName="newPassword"
            class="pwd-input"
            placeholder="Ingresar"
          />
        </div>
        <ng-container
          *ngIf="
            newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)
          "
        >
          <p
            class="help is-danger"
            *ngIf="this.newPassword?.errors?.['required']"
          >
            Contraseña Inválida
          </p>
        </ng-container>
      </div>
    </div>
    <div class="buttons">
      <button class="is-primary-button" type="submit">Guardar</button>
      <button class="is-primary-button" mat-dialog-close type="button">
        Cancelar
      </button>
    </div>
  </form>
</mat-dialog-content>
