<div class="header">
  
    <h2 class="header__title" mat-dialog-title>
     <p>AYUDA</p>
    </h2>
    <mat-icon mat-dialog-close class="close-icon" type="button">close</mat-icon>
  </div>

  <mat-dialog-content>


    <form class="form" >
      <div class="fields-group">
        <div class="field">
          <div class="control">
            <h2>Para el registro de capas debe contener el campo de OBJECTID y el campo SHAPE</h2>
            <h2>El servicio WMS o RASTER solo tiene habilitado las descargas</h2>
          </div>
        </div>
      </div>
   
      <div class="buttons">
        <!-- <button class="is-primary-button" type="button" mat-dialog-close>
          Cancelar
        </button> -->
      </div>
    </form>
  </mat-dialog-content>