<main>
  <div class="login-cnt columns">
    <div class="login-cnt__left is-flex-centered column is-6">
      <img class="logo" src="/assets/iconos/sim_logo.svg" alt="SIM logo" />
    </div>
    <div class="login-cnt__right is-flex-centered column is-6">
      <h1 class="login-cnt__right__title">Restablecer contraseña</h1>
      <h2 class="login-cnt__right__subtitle">
        Ingresa el correo electrónico asociado a tu cuenta
      </h2>

      <form class="form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="form__field">
          <div class="form__field__icon">
            <img src="./assets/iconos/correo_usuario.svg" class="email-icon" />
          </div>

          <input
            id="username"
            name="username"
            formControlName="email"
            type="text"
            placeholder="Usuario"
            class="form__field__input"
          />
        </div>
        <div class="form__error">
          <!-- <mat-error *ngIf="showError">
            Las credenciales no son válidas
          </mat-error> -->
        </div>

        <div class="form__options">
          <a class="login-cnt__right__link" [routerLink]="['/']">
            Volver al inicio de sesión
          </a>
          <button type="submit" class="button-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</main>
